.cita {
    margin-bottom: 0.5em;
    padding: 15px;
    border-radius: 4px;
    min-width: 230px;
}

.cita ul {
    list-style: none;
    padding: 0;
}

.actions {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.actions button {
    flex: auto;
}

.actions button:first-child {
    margin-right: 5px;
}
.actions button:last-child {
    margin-left: 5px;
}

@media screen and (max-width: 300px) {
    .actions button {
        width: 33.33%;
    }
}